
.history
**/.local/
**/.bash*

**/dockerData/*
**/output/

testGraphs/*.png
testGraphs/*.pdf
testGraphs/*.gif

gizmo_test/graph/*
gizmo_test/snapshot*
gizmo_test/snaps/*
gizmo_test/__pycache__/

gadget_test/graph/*

gadget_test/snapshot*

gadget_test/snaps/*

gadget_test/__pycache__/

*.hdf5
*snapshot_*

test_graph_*
*.png
*.jpeg
*.gif

GEMINI.md